"keymap----------------------------------------------------
nnoremap gOd gd
nnoremap gOD gD
nnoremap [<Space> O<Esc>j
nnoremap ]<Space> o<Esc>k
"/keymap---------------------------------------------------
